FlowNode-Red/BluetoothConfigKNX.json
[{"id":"71767f35.a33bf","type":"tab","label":"Bluetooth SpeakNX","disabled":false,"info":""},{"id":"4fcd15ec.dbaecc","type":"ui_dropdown","z":"71767f35.a33bf","name":"","label":"Bluetooth service","tooltip":"","place":"Select option","group":"b1ab0ea3.e1956","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Activé","value":true,"type":"bool"},{"label":"Désactiver","value":false,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","x":130,"y":100,"wires":[["e75cf5f6.691e68"]]},{"id":"e75cf5f6.691e68","type":"knxUltimate","z":"71767f35.a33bf","server":"c3f4fe12.fdc69","topic":"5/5/5","outputtopic":"","dpt":"1.002","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":false,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":450,"y":100,"wires":[["7fd47f0e.38348"]]},{"id":"ecae16e8.efb368","type":"knxUltimate","z":"71767f35.a33bf","server":"c3f4fe12.fdc69","topic":"5/5/5","outputtopic":"","dpt":"1.002","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":false,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":930,"y":100,"wires":[["b7059912.5cc368"]]},{"id":"3ba0ba52.97bfa6","type":"exec","z":"71767f35.a33bf","command":"./CUSTHomePFE/BX3105/OpenBT ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1320,"y":60,"wires":[["faa67c93.3046a"],[],[]]},{"id":"faa67c93.3046a","type":"debug","z":"71767f35.a33bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1590,"y":80,"wires":[]},{"id":"522cd5b0.9162dc","type":"exec","z":"71767f35.a33bf","command":"./CUSTHomePFE/BX3105/CloseBT","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1320,"y":120,"wires":[["faa67c93.3046a"],[],[]]},{"id":"72a406ae.5ca5e8","type":"switch","z":"71767f35.a33bf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":100,"wires":[["3ba0ba52.97bfa6"],["522cd5b0.9162dc"]]},{"id":"4f473f1d.e4c06","type":"switch","z":"71767f35.a33bf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Ach appear","vt":"str"},{"t":"cont","v":"Seb appear","vt":"str"},{"t":"cont","v":"Ach disappear","vt":"str"},{"t":"cont","v":"Seb disappear","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":330,"y":320,"wires":[["6868179e.606718"],["6868179e.606718"],["6868179e.606718"],["6868179e.606718"]]},{"id":"ea420cef.3494c","type":"knxUltimate","z":"71767f35.a33bf","server":"c3f4fe12.fdc69","topic":"5/5/5","outputtopic":"","dpt":"16.000","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":false,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":110,"y":320,"wires":[["4f473f1d.e4c06"]]},{"id":"6868179e.606718","type":"debug","z":"71767f35.a33bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":320,"wires":[]},{"id":"ee09c944.6acd48","type":"comment","z":"71767f35.a33bf","name":"send action to speakNX to open or close BT","info":"","x":210,"y":60,"wires":[]},{"id":"5c17ea1a.5ecbb4","type":"comment","z":"71767f35.a33bf","name":"SpeakNX open or close BT","info":"","x":990,"y":20,"wires":[]},{"id":"44add77a.3c5728","type":"comment","z":"71767f35.a33bf","name":"Get Data from SpeakNX","info":"","x":150,"y":280,"wires":[]},{"id":"cf517633.48efd8","type":"knxUltimate","z":"71767f35.a33bf","server":"c3f4fe12.fdc69","topic":"5/5/5","outputtopic":"","dpt":"16.000","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":1460,"y":300,"wires":[["d454e45d.f2cbf8"]]},{"id":"3b5ab6f9.2851ea","type":"ui_dropdown","z":"71767f35.a33bf","d":true,"name":"","label":"Event","tooltip":"","place":"Select option","group":"1219db11.2bc6c5","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"achraf  appear","value":"Ach appear","type":"str"},{"label":" achraf disappear","value":"Ach disappear","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":970,"y":280,"wires":[["918db8ae.bd6478"]]},{"id":"fe2fceaf.9c35c","type":"ui_dropdown","z":"71767f35.a33bf","d":true,"name":"","label":"Event","tooltip":"","place":"Select option","group":"1219db11.2bc6c5","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"sebastien  appear","value":"Seb appear","type":"str"},{"label":" sebastien disappear","value":"Seb disappear","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":970,"y":320,"wires":[["d052ead8.9b1938"]]},{"id":"d454e45d.f2cbf8","type":"debug","z":"71767f35.a33bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":360,"wires":[]},{"id":"b7059912.5cc368","type":"debug","z":"71767f35.a33bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":60,"wires":[]},{"id":"918db8ae.bd6478","type":"change","z":"71767f35.a33bf","name":"","rules":[{"t":"set","p":"devicename","pt":"msg","to":"achraf iphone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":280,"wires":[["cf517633.48efd8"]]},{"id":"d052ead8.9b1938","type":"change","z":"71767f35.a33bf","name":"","rules":[{"t":"set","p":"devicename","pt":"msg","to":"Sebastien Android","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":320,"wires":[["cf517633.48efd8"]]},{"id":"1760dfc1.a8d19","type":"comment","z":"71767f35.a33bf","name":"Dashboard","info":"","x":100,"y":20,"wires":[]},{"id":"81a2bb00.3804f8","type":"comment","z":"71767f35.a33bf","name":"Add New Device","info":"","x":140,"y":520,"wires":[]},{"id":"bcf1f64d.607e58","type":"function","z":"71767f35.a33bf","name":"","func":"\n\n\nif(!flow.get(\"BTDevName\")){\n    node.warn(\"name null\");\n    msg.payload=\"name null\"\n    \n} else {\nlet objGlobal = {\n    \n    \"name\":flow.get(\"BTDevName\")\n}\n   msg.payload =  objGlobal;\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":680,"wires":[["dd663618.960188","ce39387a.f4bb28"]]},{"id":"dbfed871.e9dd68","type":"ui_template","z":"71767f35.a33bf","group":"cd3394d8.76e008","name":"Search Sortable Table","order":3,"width":"0","height":"0","format":"\n<div style=\"center\" class=\"container\">\n          \n    <md-input-container  style=\"overflow:hidden;width:10vw\">   \n        <div class=\"form-group\">\n            <span class=\"input-group\">\n                <input type=\"text\" class=\"form-control\" placeholder=\"Search\" ng-model=\"search\" >\n            </span> \n    \n            <table style=\"height: 50ph; width: 15pw;\">\n                <thead class=\"mytable\">\n                <tr style=\"width: 100%;\">\n                \n                    <td style=\"text-align: center;width:8vw\">\n                        <a class=\"myclass\" href=\"#\" ng-click=\"sortType = '(name -0)'; sortReverse = !sortReverse\">\n                Known Bluetooth Devices\n                            <span ng-show=\"sortType == '(name -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n                            <span ng-show=\"sortType == '(name -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n                        </a>\n                    </td>\n                     \n                  \n                </tr>\n                </thead>\n                <tbody>\n                   <tr ng-repeat=\"option in msg.options | orderBy:sortType:sortReverse | filter:search track by $index\" \n                          style=\"width:100%\" flex>\n                            <td ng-if=\"option\" class=\"myclass\" style=\"text-align: center;\" ng-bind=\"option.name\" ></td>\n                            <td ng-if=\"option\" style=\"width: 47.1167px;\"> <em class=\"material-icons md-18\" ng-click=\"msg.payload = option;send(msg);\">\n                            delete</em>\n                            </td> \n                    </tr>\n                </tbody>\n            </table>\n        </div>\n    </md-input-container>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":720,"y":840,"wires":[["4a6c4dc9.0cc584"]]},{"id":"cf93f0dc.5f3a1","type":"change","z":"71767f35.a33bf","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"BTAddress","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":840,"wires":[["dbfed871.e9dd68"]]},{"id":"5c2da94b.cbf568","type":"ui_ui_control","z":"71767f35.a33bf","name":"","events":"all","x":220,"y":880,"wires":[["cf93f0dc.5f3a1"]]},{"id":"8d72443e.0b3678","type":"change","z":"71767f35.a33bf","name":"","rules":[{"t":"set","p":"BTDevName","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":760,"wires":[[]]},{"id":"dd663618.960188","type":"switch","z":"71767f35.a33bf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"name null","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":760,"wires":[["ee557d7c.93f94"],["8d72443e.0b3678","6ee03c9f.508d24"]]},{"id":"ee557d7c.93f94","type":"ui_toast","z":"71767f35.a33bf","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Error Empty Field","name":"Error Empty Field","x":710,"y":720,"wires":[]},{"id":"1d1f185d.3b7618","type":"ui_template","z":"71767f35.a33bf","group":"c665550c.35f888","name":"Device Name","order":1,"width":"0","height":"0","format":"<style id=\"remote-buttons\">\n    .remote-button{\n        background-color: rgba(255,255,255,.2) !important;\n        color: #cccccc !important;\n        height: var(--dashboard-unit-height);\n        width: 100%;\n        border-radius: 10px;\n        margin: 0;\n        min-height: 36px;\n    }\n    \n</style>\n <form novalidate id='myForm' name=\"myForm\">\n        <md-input-container >   \n            <div class=\"form-group\" style=\"overflow:hidden;width:12vw\">\n                <label for=\"name\">Device Name </label>\n                <input \n                type=\"text\" \n                name=\"name\"\n                ng-model=\"name\"\n                class=\"form-control\" \n                id=\"name\"\n                required ng-pattern=\"/^[a-zA-Z0-9 -]{1,14}$/\" >\n                <div class=\"custom-error\"  ng-show=\"myForm.name.$error.pattern\">\n                      Name length must be inder 14 char</div>\n            </div>\n            <div name=\"btn\"  style=\"overflow:hidden;width:13vw\">\n                   <md-button class=\"md-button remote-button\" \n                    type=\"reset\"\n                    icon=\"done\"\n                    ng-click=\"msg.payload = name; send(msg)\"\n                    ><ng-md-icon icon=\"person_add\" ></ng-md-icon> Add Device\n                   </md-button>\n                   \n            </div>\n\n        </md-input-container>\n  </form>\n<script type=\"text/javascript\">\n   console.log( document.getElementsByName(\"btn\"));\n \n</script>\n<!-- class=\"md-button remote-button\"  ng-change<div>Correct format address: number/number/number</div> \n  -->","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":180,"y":560,"wires":[["9ae9f2d3.acf2b","e6dc4eb6.95f58"]]},{"id":"9ae9f2d3.acf2b","type":"change","z":"71767f35.a33bf","name":"","rules":[{"t":"set","p":"BTDevName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":560,"wires":[[]]},{"id":"c4b541a0.97fbe","type":"function","z":"71767f35.a33bf","name":"","func":"let object = flow.get(\"BTAddress\");\nif (object!=null)\nmsg.topic = object.length;\nelse msg.topic = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":680,"wires":[["1d0c24b5.f7459b"]]},{"id":"1d0c24b5.f7459b","type":"switch","z":"71767f35.a33bf","name":"","property":"topic","propertyType":"msg","rules":[{"t":"gt","v":"4","vt":"num"},{"t":"lte","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":680,"wires":[["c69cc474.aa97a8"],["bcf1f64d.607e58"]]},{"id":"c69cc474.aa97a8","type":"ui_toast","z":"71767f35.a33bf","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Error No more place","x":600,"y":620,"wires":[]},{"id":"d5f35f98.bcd6a","type":"ui_dropdown","z":"71767f35.a33bf","name":"","label":"Scan Mode :","tooltip":"","place":"Select option","group":"b1ab0ea3.e1956","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Action","value":true,"type":"bool"},{"label":"Interval","value":false,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","x":110,"y":200,"wires":[["653ee41c.7d3efc"]]},{"id":"653ee41c.7d3efc","type":"switch","z":"71767f35.a33bf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":200,"wires":[["2a695343.78720c"],["93681ff5.d6025"]]},{"id":"45b57a86.1b0af4","type":"ui_dropdown","z":"71767f35.a33bf","name":"","label":"Select Interval","tooltip":"","place":"10","group":"b1ab0ea3.e1956","order":0,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"10","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"30","type":"str"},{"label":"","value":"40","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":660,"y":200,"wires":[[]]},{"id":"93681ff5.d6025","type":"change","z":"71767f35.a33bf","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["45b57a86.1b0af4"]]},{"id":"2a695343.78720c","type":"change","z":"71767f35.a33bf","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["45b57a86.1b0af4"]]},{"id":"4a6c4dc9.0cc584","type":"function","z":"71767f35.a33bf","name":"","func":"let obj = flow.get(\"BTAddress\");\n\nfor (var item in obj) {\n \n  if (JSON.stringify(obj[item]) === JSON.stringify(msg.payload)) {\n    \n    delete obj[item]\n  }\n\n}\nconst newObject = Object.keys(obj).reduce((acc, key) => {\n  const _acc = acc;\n  if (obj[key] !== undefined) _acc[key] = obj[key];\n  return _acc;\n}, {})\nvar keys = [];\n\nfor (var element in newObject) {\n  if (newObject.hasOwnProperty(element)) {\n    keys.push(newObject[element]);\n  }\n}\nnode.warn(\"hola new\"+newObject);\nnode.warn(keys);\nflow.set(\"BTAddress\",undefined)\nmsg.payload=keys;\nflow.set(\"BTAddress\",keys);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":840,"wires":[["c07080ee.9749c"]]},{"id":"ce39387a.f4bb28","type":"debug","z":"71767f35.a33bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":680,"wires":[]},{"id":"d2120a0e.32ec38","type":"comment","z":"71767f35.a33bf","name":"send BT mode to speakNX( Open Me) ","info":"set the scanning mode if on the action then this will be only the message we send, and if not if the selected was interval so we have to send also the interval selected.","x":190,"y":160,"wires":[]},{"id":"e6dc4eb6.95f58","type":"delay","z":"71767f35.a33bf","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":620,"wires":[["c4b541a0.97fbe"]]},{"id":"c07080ee.9749c","type":"function","z":"71767f35.a33bf","name":"","func":"flow.set(\"BTAddress\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":900,"wires":[["cf93f0dc.5f3a1"]]},{"id":"b45e0580.693f28","type":"function","z":"71767f35.a33bf","name":"","func":"let obj = flow.get(\"BTAddress\");\n\nmsg.payload=obj\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1000,"wires":[["8df10a91.90d438"]]},{"id":"6ee03c9f.508d24","type":"function","z":"71767f35.a33bf","name":"","func":"if (flow.get(\"BTAddress\")===undefined)\n {\n     flow.set(\"BTAddress\",[]);\n }\nlet objGlobal = msg.payload;\n\n//flow.BTAddress.push(objGlobal);\n node.warn(objGlobal);\n  node.warn(flow.get(\"BTAddress\"));\n /*let uniqueChars = flow.BTAddress.filter((c, index) => {\n return flow.BTAddress.indexOf(c) === index;\n });*/\n//msg.payload = uniqueChars;\nlet uniqueChars  =flow.get(\"BTAddress\");\nuniqueChars.push(objGlobal);\nflow.set(\"BTAddress\",uniqueChars);\nmsg.payload=flow.get(\"BTAddress\");\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":840,"wires":[["cf93f0dc.5f3a1"]]},{"id":"6eeb9c9b.5fc674","type":"ui_button","z":"71767f35.a33bf","name":"","group":"c665550c.35f888","order":1,"width":0,"height":0,"passthru":false,"label":"Send To SpeakNX","tooltip":"","color":"","bgcolor":"","icon":"send","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":1000,"wires":[["b45e0580.693f28","d9050e5e.59226"]]},{"id":"8df10a91.90d438","type":"split","z":"71767f35.a33bf","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":1000,"wires":[["99dc7576.55c848"]]},{"id":"99dc7576.55c848","type":"change","z":"71767f35.a33bf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1000,"wires":[["f316b50d.c64438"]]},{"id":"f316b50d.c64438","type":"knxUltimate","z":"71767f35.a33bf","server":"c3f4fe12.fdc69","topic":"5/5/4","outputtopic":"","dpt":"16.000","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":880,"y":1040,"wires":[[]]},{"id":"d9050e5e.59226","type":"change","z":"71767f35.a33bf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"DeviceNameList","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1040,"wires":[["f316b50d.c64438"]]},{"id":"bbd697b5.d5b628","type":"knxUltimate","z":"71767f35.a33bf","server":"c3f4fe12.fdc69","topic":"5/5/4","outputtopic":"","dpt":"16.000","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":false,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":1230,"y":480,"wires":[["76ebb095.5ad5f"]]},{"id":"76ebb095.5ad5f","type":"debug","z":"71767f35.a33bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1430,"y":480,"wires":[]},{"id":"8b073f8.25572c","type":"ui_template","z":"71767f35.a33bf","group":"b1ab0ea3.e1956","name":"Device Name","order":1,"width":"0","height":"0","format":"<style id=\"remote-buttons\">\n    .remote-button {\n        background-color: rgba(255,255,255,.2) !important;\n        color: #cccccc !important;\n        height: var(--dashboard-unit-height);\n        width: 100%;\n        border-radius: 10px;\n        margin-left: 10px;\n       \n    }\n    .md-title{ \n        background-color:  rgba(255,255,255,0.1) !important;\n        color: #cccccc !important;\n        height: var(--dashboard-unit-height);\n        \n    }\n</style>\n <form novalidate id='myForm' name=\"myForm\" >\n        <md-input-container  >   \n            <div class=\"form-group\" style=\"overflow:hidden;width:14vw\">\n                <label for=\"name\">Set SpeakNX Name </label>\n                <input \n                    type=\"text\" \n                    name=\"name\"\n                    ng-model=\"name\"\n                    class=\"form-control\" \n                    id=\"name\"\n                    required ng-pattern=\"/^[a-zA-Z0-9 -]{1,14}$/\" >\n                <div class=\"custom-error\"  ng-show=\"myForm.name.$error.pattern\">\n                      Name length must be inder 14 char</div>\n                </div>\n            <div name=\"btn\" style=\"overflow:hidden;width:15vw\">\n                   <md-button class=\"md-button remote-button\"\n                        type=\"reset\"\n                        ng-click=\"msg.payload = name; send(msg)\">\n                    <ng-md-icon icon=\"done\" ></ng-md-icon>  Confirme\n                   </md-button>\n            </div>\n\n        </md-input-container>\n            \n                  \n  </form>\n              \n\n<!--  ng-change<div>Correct format address: number/number/number</div> \n  -->","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":140,"y":440,"wires":[["4f6d17d6.a0c8b8"]]},{"id":"27663f35.b8708","type":"ui_text","z":"71767f35.a33bf","group":"b1ab0ea3.e1956","order":4,"width":0,"height":0,"name":"","label":"Device Name : ","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":400,"wires":[]},{"id":"4f6d17d6.a0c8b8","type":"change","z":"71767f35.a33bf","name":"","rules":[{"t":"set","p":"SpeakNXName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":440,"wires":[["27663f35.b8708","bd14f387.742d9","126085d9.ccb48a"]]},{"id":"494831a6.94461","type":"comment","z":"71767f35.a33bf","name":"Send Device name to SpeakNX","info":"","x":190,"y":400,"wires":[]},{"id":"8bc5df40.7eec4","type":"comment","z":"71767f35.a33bf","name":"Send known Device name to SpeakNX(Open Me)","info":" *  send table to speakNx started by DeviceNameListet and one by one until end.\n ","x":240,"y":960,"wires":[]},{"id":"7683c36c.8936cc","type":"comment","z":"71767f35.a33bf","name":"SpeakNX Get known device name list","info":"","x":1270,"y":440,"wires":[]},{"id":"7fd47f0e.38348","type":"debug","z":"71767f35.a33bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":100,"wires":[]},{"id":"bd14f387.742d9","type":"change","z":"71767f35.a33bf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"DeviceName","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["40b7a79f.dca128"]]},{"id":"40b7a79f.dca128","type":"knxUltimate","z":"71767f35.a33bf","server":"c3f4fe12.fdc69","topic":"2/2/5","outputtopic":"","dpt":"","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":760,"y":500,"wires":[[]]},{"id":"126085d9.ccb48a","type":"delay","z":"71767f35.a33bf","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":460,"wires":[["40b7a79f.dca128"]]},{"id":"b1ab0ea3.e1956","type":"ui_group","name":" Bluetooth Generic Config","tab":"33a8b988.b339e6","order":2,"disp":true,"width":"6","collapse":false},{"id":"c3f4fe12.fdc69","type":"knxUltimate-config","host":"224.0.23.12","port":"3671","physAddr":"15.15.22","suppressACKRequest":false,"csv":"","KNXEthInterface":"Auto","KNXEthInterfaceManuallyInput":"","statusDisplayLastUpdate":true,"statusDisplayDeviceNameWhenALL":true,"statusDisplayDataPoint":false,"stopETSImportIfNoDatapoint":"stop","loglevel":"error","name":"Multicast KNX Gateway","localEchoInTunneling":true,"delaybetweentelegrams":"40","delaybetweentelegramsfurtherdelayREAD":"1"},{"id":"1219db11.2bc6c5","type":"ui_group","name":"Default","tab":"33a8b988.b339e6","order":1,"disp":true,"width":"6","collapse":false},{"id":"cd3394d8.76e008","type":"ui_group","name":"Table Name","tab":"33a8b988.b339e6","order":4,"disp":true,"width":"5","collapse":true},{"id":"c665550c.35f888","type":"ui_group","name":"Add New Device","tab":"33a8b988.b339e6","order":3,"disp":true,"width":"5","collapse":false},{"id":"33a8b988.b339e6","type":"ui_tab","name":"BT Setting","icon":"settings","disabled":false,"hidden":false}]