FlowNode-Red/hwo-sHome.json
[{"id":"83ba6565.376468","type":"tab","label":"Who's Home","disabled":false,"info":""},{"id":"16ab953.bee3f6b","type":"switch","z":"83ba6565.376468","name":"Is Home","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":285,"y":180,"wires":[[],["bef44703.52f1d8"]]},{"id":"7a197a79.fa5e14","type":"function","z":"83ba6565.376468","name":"is home?","func":"msg.payload = \"Is home\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":140,"wires":[[]]},{"id":"bef44703.52f1d8","type":"function","z":"83ba6565.376468","name":"is home?","func":"msg.payload = \"Is home\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[[]]},{"id":"47771d4f.e162b4","type":"function","z":"83ba6565.376468","name":"is home?","func":"msg.payload = \"Is home\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":90,"wires":[[]]},{"id":"2c7e3d55.285f22","type":"switch","z":"83ba6565.376468","name":"Is Home","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":285,"y":135,"wires":[[],["7a197a79.fa5e14"]]},{"id":"2179e599.27cdca","type":"switch","z":"83ba6565.376468","name":"Is Home","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":285,"y":90,"wires":[[],["47771d4f.e162b4"]]},{"id":"9797a6e0.bea078","type":"inject","z":"83ba6565.376468","name":"5 min","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":250,"y":540,"wires":[["791b0999.30ecc8","83152edb.b0d8c","202c93b5.25670c"]]},{"id":"791b0999.30ecc8","type":"function","z":"83ba6565.376468","name":"Wife","func":"msg.payload = flow.get('wife');\nmsg.topic =  \"Wife\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":445,"y":510,"wires":[["a4d13e26.c5264"]]},{"id":"83152edb.b0d8c","type":"function","z":"83ba6565.376468","name":"Husband","func":"msg.payload = flow.get('husband');\nmsg.topic =  \"Husband\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":455,"y":540,"wires":[["a4d13e26.c5264"]]},{"id":"202c93b5.25670c","type":"function","z":"83ba6565.376468","name":"Pixel","func":"msg.payload = flow.get('Pixel');\nmsg.topic =  \"Pixel\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":445,"y":570,"wires":[["a4d13e26.c5264"]]},{"id":"1347f45.19f2f0c","type":"inject","z":"83ba6565.376468","name":"1min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":320,"wires":[["2bc9dd40.d61002","510f36e0.de85f8","413b9d47.931cc4"]]},{"id":"c1c67524.386298","type":"function","z":"83ba6565.376468","name":"is home?","func":"msg.payload = \"home\";\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["a899189c.4ad0d8"]]},{"id":"e464fee9.7785f","type":"function","z":"83ba6565.376468","name":"Wife (1)","func":"var x = global.get('JOIN_pixel3');\n\nmsg.person = \"Wife\";\n\nvar d = new Date();\nvar h = d.getHours(); \nvar m = d.getMinutes();\n\nif(m < 10){\n    var z = m.toString();\n    var m = \"0\" + z;\n} \nif(h < 10){\n    var z = h.toString();\n    var h = \"0\" + z;\n}\n\nvar time = h + \":\" + m;\n\nif(msg.payload === \"home\"){\n   msg.push = {\n    \"deviceIds\": x,\n    \"title\":\"Home Update\",\n    \"text\":\"Wife just got home\",\n    \"icon\":\"https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/green_repicthousebase_1484336387-1.png\",\n};\nmsg.status = \"Wife arrived home at\";\nmsg.payload = time;\nmsg.color = \"green\";\nflow.set('wife', 1);\nmsg.index = 1;\n}\n\n\nelse{\n    msg.push = {\n    \"deviceIds\": x,\n    \"title\":\"Home Update\",\n    \"text\":\"Wife is no longer at home\",\n    \"icon\":\"https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/red_repicthousebase_1484336386-1.png\",\n}; \nmsg.status = \"Wife left home at\";\nmsg.payload = time;\nmsg.color = \"red\";\nflow.set('wife', 0);\nmsg.index = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":380,"wires":[["62f7baf5.7d57e4"]]},{"id":"62f7baf5.7d57e4","type":"ui_text","z":"83ba6565.376468","group":"762c075d.828b18","order":1,"width":0,"height":0,"name":"","label":"{{msg.status}}","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":1375,"y":380,"wires":[]},{"id":"28a3296e.46c346","type":"ui_text","z":"83ba6565.376468","group":"762c075d.828b18","order":1,"width":0,"height":0,"name":"","label":"{{msg.status}}","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":1375,"y":320,"wires":[]},{"id":"caf2e901.81cc88","type":"ui_text","z":"83ba6565.376468","group":"762c075d.828b18","order":1,"width":0,"height":0,"name":"","label":"{{msg.status}}","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":1375,"y":260,"wires":[]},{"id":"c63b1359.cc914","type":"function","z":"83ba6565.376468","name":"is home?","func":"msg.payload = \"home\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":360,"wires":[["9d117d76.da7b6"]]},{"id":"f71c2435.e61d98","type":"function","z":"83ba6565.376468","name":"is home?","func":"msg.payload = \"home\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":280,"wires":[["ff5c6195.a8e0d"]]},{"id":"b49f610b.bbfe3","type":"switch","z":"83ba6565.376468","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":420,"wires":[["7f3db0cf.55904"],["c1c67524.386298"]]},{"id":"6bd36e51.34419","type":"switch","z":"83ba6565.376468","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":260,"wires":[["fb07c55c.61bee8"],["f71c2435.e61d98"]]},{"id":"8eb3b0a4.70ecd","type":"switch","z":"83ba6565.376468","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":340,"wires":[["e3501f79.2a478"],["c63b1359.cc914"]]},{"id":"a899189c.4ad0d8","type":"function","z":"83ba6565.376468","name":"Subsequen reading (every 2)","func":"x =  context.get('count');\ny =  context.get('message');\n//set defaults & return payload\nif (x === null || x === undefined && y === null || y === undefined){\n    x = 1;\n    context.set('count' , x);\n    context.set('message', msg.payload);\n    return msg;\n}\n//count only if payloads are the same or reset\nif (x < 3){\n    var current = msg.payload;\n    var last    = context.get('message');\n    if(current === last){  \n        x++;\n        context.set('count' , x);\n        \n    }\n    else{\n    x = 1;\n    context.set('message', msg.payload);\n    }\n}\n//return and reset\nif (x == 3){\n    var current = msg.payload;\n    var last    = context.get('message');\n    if(current === last){\n        x = 1;\n        context.set('count' , x);\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":890,"y":380,"wires":[["f1f8b29d.57852"]]},{"id":"9d117d76.da7b6","type":"function","z":"83ba6565.376468","name":"Subsequen reading (every 2)","func":"x =  context.get('count');\ny =  context.get('message');\n//set defaults & return payload\nif (x === null || x === undefined && y === null || y === undefined){\n    x = 1;\n    context.set('count' , x);\n    context.set('message', msg.payload);\n    return msg;\n}\n//count only if payloads are the same or reset\nif (x < 3){\n    var current = msg.payload;\n    var last    = context.get('message');\n    if(current === last){  \n        x++;\n        context.set('count' , x);\n        \n    }\n    else{\n    x = 1;\n    context.set('message', msg.payload);\n    }\n}\n//return and reset\nif (x == 3){\n    var current = msg.payload;\n    var last    = context.get('message');\n    if(current === last){\n        x = 1;\n        context.set('count' , x);\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":320,"wires":[["461d2cb6.5438a4"]]},{"id":"ff5c6195.a8e0d","type":"function","z":"83ba6565.376468","name":"Subsequen reading (every 2)","func":"x =  context.get('count');\ny =  context.get('message');\n//set defaults & return payload\nif (x === null || x === undefined && y === null || y === undefined){\n    x = 1;\n    context.set('count' , x);\n    context.set('message', msg.payload);\n    return msg;\n}\n//count only if payloads are the same or reset\nif (x < 3){\n    var current = msg.payload;\n    var last    = context.get('message');\n    if(current === last){  \n        x++;\n        context.set('count' , x);\n        \n    }\n    else{\n    x = 1;\n    context.set('message', msg.payload);\n    }\n}\n//return and reset\nif (x == 3){\n    var current = msg.payload;\n    var last    = context.get('message');\n    if(current === last){\n        x = 1;\n        context.set('count' , x);\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":260,"wires":[["a0b9c786.491b28"]]},{"id":"a0b9c786.491b28","type":"rbe","z":"83ba6565.376468","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1090,"y":260,"wires":[["e5917775.046bf8"]]},{"id":"e5917775.046bf8","type":"function","z":"83ba6565.376468","name":"Husband (2)","func":"var x = global.get('JOIN_pixel3');\n\nmsg.person = \"Husband\";\n\nvar d = new Date();\nvar h = d.getHours(); \nvar m = d.getMinutes();\n\nif(m < 10){\n    var z = m.toString();\n    var m = \"0\" + z;\n} \nif(h < 10){\n    var z = h.toString();\n    var h = \"0\" + z;\n}\n\n\nvar time = h + \":\" + m;\n\nif(msg.payload === \"home\"){\n   msg.push = {\n    \"deviceIds\": x,\n    \"title\":\"Home Update\",\n    \"text\":\"Husband just got home\",\n    \"icon\":\"https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/green_repicthousebase_1484336387-1.png\",\n};\nmsg.status = \"Husband arrived home at\";\nmsg.payload = time;\nmsg.color = \"green\";\nflow.set('husband', 2);\nmsg.index = 2;\n}\nelse{\n    msg.push = {\n    \"deviceIds\": x,\n    \"title\":\"Home Update\",\n    \"text\":\"Husband is no longer at home\",\n    \"icon\":\"https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/red_repicthousebase_1484336386-1.png\",\n}; \nmsg.status = \"Husband left home at\";\nmsg.payload = time;\nmsg.color = \"red\";\nflow.set('husband', 0);\nmsg.index = 0;\n    \n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":260,"wires":[["caf2e901.81cc88"]]},{"id":"f9417f78.da98c","type":"function","z":"83ba6565.376468","name":"Child   (line 3)","func":"var x = global.get('JOIN_pixel3');\n\n\nmsg.person = \"Pixel\";\n\n\nvar d = new Date();\nvar h = d.getHours(); \nvar m = d.getMinutes();\n\nif(m < 10){\n    var z = m.toString();\n    var m = \"0\" + z;\n} \nif(h < 10){\n    var z = h.toString();\n    var h = \"0\" + z;\n}\n\n\nvar time = h + \":\" + m;\n\nif(msg.payload === \"home\"){\n    msg.push = {\n        \"deviceIds\": x,\n        \"title\":\"Home Update\",\n        \"text\":\"Child just got home\",\n        \"icon\":\"https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/green_repicthousebase_1484336387-1.png\",\n    };\n    msg.status = \"Child arrived home at\";\n    msg.payload = time;\n    msg.color = \"green\";\n    flow.set('Child', 3);\n    msg.index = 3;\n}\nelse{\n    msg.push = {\n        \"deviceIds\": x,\n        \"title\":\"Home Update\",\n        \"text\":\"Child is no longer at home\",\n        \"icon\":\"https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/red_repicthousebase_1484336386-1.png\",\n    }; \n    msg.status = \"Child left home at\";\n    msg.payload = time;\n    msg.color = \"red\";\n    flow.set('Child', 0);\n    msg.index = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":320,"wires":[["28a3296e.46c346"]]},{"id":"461d2cb6.5438a4","type":"rbe","z":"83ba6565.376468","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1090,"y":320,"wires":[["f9417f78.da98c"]]},{"id":"f1f8b29d.57852","type":"rbe","z":"83ba6565.376468","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1090,"y":380,"wires":[["e464fee9.7785f"]]},{"id":"a4d13e26.c5264","type":"ui_chart","z":"83ba6565.376468","d":true,"name":"","group":"762c075d.828b18","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"4","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":540,"wires":[[]]},{"id":"fb07c55c.61bee8","type":"function","z":"83ba6565.376468","name":"not home?","func":"msg.payload = \"away\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":240,"wires":[["ff5c6195.a8e0d"]]},{"id":"e3501f79.2a478","type":"function","z":"83ba6565.376468","name":"not home?","func":"msg.payload = \"away\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":320,"wires":[["9d117d76.da7b6"]]},{"id":"7f3db0cf.55904","type":"function","z":"83ba6565.376468","name":"not home?","func":"msg.payload = \"away\";\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["a899189c.4ad0d8"]]},{"id":"819e3682.1c6f58","type":"ping","z":"83ba6565.376468","protocol":"IPv4","mode":null,"name":"Pixel","host":"192.168.2.0/24","timer":"20","inputs":0,"x":140,"y":90,"wires":[["2179e599.27cdca"]]},{"id":"3da3287f.d15228","type":"ping","z":"83ba6565.376468","mode":null,"name":"Pixel 3","host":"192.168.2.0/24","timer":"20","inputs":0,"x":140,"y":135,"wires":[["2c7e3d55.285f22"]]},{"id":"95a9e253.939b9","type":"ping","z":"83ba6565.376468","mode":null,"name":"Huawei","host":"192.168.2.0/24","timer":"20","inputs":0,"x":140,"y":180,"wires":[["16ab953.bee3f6b"]]},{"id":"510f36e0.de85f8","type":"arp","z":"83ba6565.376468","name":"LapTop","macs":"74:c6:3b:12:65:47","x":260,"y":340,"wires":[["8eb3b0a4.70ecd"]]},{"id":"413b9d47.931cc4","type":"arp","z":"83ba6565.376468","name":"all","macs":"","x":250,"y":420,"wires":[["b49f610b.bbfe3"]]},{"id":"2bc9dd40.d61002","type":"arp","z":"83ba6565.376468","name":"Iphone","macs":"9e:c0:ce:74:87:14","x":270,"y":260,"wires":[["6bd36e51.34419"]]},{"id":"344b04c2.cbb4fc","type":"ping","z":"83ba6565.376468","mode":null,"name":"Ping Nexus 5","host":"192.168.2.80","timer":"60","inputs":0,"x":230,"y":680,"wires":[["680c5308.97f3ac"]]},{"id":"c7248577.38db78","type":"debug","z":"83ba6565.376468","name":"","active":false,"complete":"false","x":670,"y":640,"wires":[]},{"id":"680c5308.97f3ac","type":"function","z":"83ba6565.376468","name":"Analyze Result","func":"// anything stored in context is kept available for next time we get called\ncontext.gotping = context.gotping || 1;\ncontext.pingfails = context.pingfails || 0;\n\n\nif(msg.payload) {\ncontext.gotping = 1;\ncontext.pingfails = 0;\n} \nelse\n{\ncontext.pingfails +=1;\nif(context.pingfails>3) context.gotping=0;\n}\n\nmsg.payload=context.gotping;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":434,"y":683,"wires":[["c7248577.38db78"]]},{"id":"e54752a6.318f6","type":"arp","z":"83ba6565.376468","name":"all","macs":"74:c6:3b:12:65:47","x":370,"y":780,"wires":[["d78c2891.fd8de8"]]},{"id":"e74a0f5.34905f","type":"inject","z":"83ba6565.376468","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":760,"wires":[["e54752a6.318f6"]]},{"id":"d78c2891.fd8de8","type":"debug","z":"83ba6565.376468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":760,"wires":[]},{"id":"f7b81572.00a7c8","type":"inject","z":"83ba6565.376468","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1000,"wires":[["4662aaca.46d274"]]},{"id":"4662aaca.46d274","type":"exec","z":"83ba6565.376468","command":"echo 8426550 | sudo -S nmap -sn 192.168.2.48/24 | awk '/Nmap scan report for/{printf $5;}/MAC Address:/{print \"|\"substr($0, index($0,$3)) }' | sort","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scan subnet","x":450,"y":1000,"wires":[["9c39565c.2b28d8","e41c3dbf.3665b"],[],[]]},{"id":"9c39565c.2b28d8","type":"function","z":"83ba6565.376468","name":"Subnet Devices Array","func":"let response = msg.payload.split('\\n');\nlet found = []\nlet device\nresponse.forEach ( line => {\n    if ( line.indexOf('|') > -1 ){\n        device = {\n            IP : line.split('|')[0],\n            MAC: line.split('|')[1].split(' ')[0],\n            Brand: line.split('(')[1].split(')')[0]\n        }\n        found.push ( device )\n    }\n})\nmsg.payload = found;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":960,"wires":[["a7a836fc.3fa688","e5ad23f3.0239b"]]},{"id":"a7a836fc.3fa688","type":"debug","z":"83ba6565.376468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":1020,"wires":[]},{"id":"e41c3dbf.3665b","type":"debug","z":"83ba6565.376468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":1000,"wires":[]},{"id":"f8c2e376.f4d0c","type":"ui_table","z":"83ba6565.376468","group":"2ca92b36.c045a4","name":"","order":0,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":870,"y":980,"wires":[]},{"id":"e5ad23f3.0239b","type":"switch","z":"83ba6565.376468","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":920,"wires":[["f8c2e376.f4d0c"]]},{"id":"2a60926e.f4582e","type":"comment","z":"83ba6565.376468","name":"read me","info":"scanner all device and listed to a sorted table","x":360,"y":920,"wires":[]},{"id":"b23ec30c.839ad","type":"comment","z":"83ba6565.376468","name":"read me","info":"example of cheking how's home we have 3 devices and we ping this devices to know hwo's home","x":180,"y":40,"wires":[]},{"id":"762c075d.828b18","type":"ui_group","name":"Who is home?","tab":"ebcb90c5.8af17","order":1,"disp":true,"width":"6","collapse":false},{"id":"2ca92b36.c045a4","type":"ui_group","name":"All devices","tab":"ebcb90c5.8af17","order":2,"disp":true,"width":"10","collapse":false},{"id":"ebcb90c5.8af17","type":"ui_tab","name":"Who is Home","icon":"location_on","order":7,"disabled":false,"hidden":false}]