FlowNode-Red/IpCameraPhoto.json
[{"id":"436764ef.7c570c","type":"tab","label":"Ip Camera Config","disabled":false,"info":""},{"id":"26f24bd7.3792b4","type":"inject","z":"436764ef.7c570c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":100,"y":160,"wires":[["412a780b.72faf8"]]},{"id":"6904f91b.1b2e48","type":"exec","z":"436764ef.7c570c","command":"ffmpeg -rtsp_transport udp -i \"rtsp://admin:Custhome08@192.168.8.21:554/cam/realmonitor?channel=1&subtype=0\" -vframes 1 -f image2pipe -vcodec png -","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ScreenShot -> stdout","x":520,"y":160,"wires":[["ad66f5e1.563448"],[],[]]},{"id":"b821831a.58ae","type":"comment","z":"436764ef.7c570c","name":"Frame grabber","info":"This section of the flow is responsible for \ngrabbing a single out of the RTSP feed of the IP\nCamera. It uses avconv to do that which is part\nof the libav-tools for raspberry pi.\n\nThe trigger can be an inject, or a UI button.\nThe statistic node keeps a track of the number of\ngrabbed frames and the success rate (when the\nvideo conversion/grabbing was successful). The \nStatistic node also has a reset input which can \nbe used to periodically reset the stats (e.g.\ndaily, weekly).\n\nI directed the second output of the Exec node to\na file, as the output of the avconv is usually \nquite long and if there are errors you don't\nsee the entire output in the debug window, so in\nthat case just open to output and see what the issue\nis.","x":120,"y":100,"wires":[]},{"id":"412a780b.72faf8","type":"change","z":"436764ef.7c570c","name":"Set filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/wago/node-red-static/grab.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":160,"wires":[["6904f91b.1b2e48"]]},{"id":"fe8cca39.9bb248","type":"ui_template","z":"436764ef.7c570c","group":"675036dd.603328","name":"","order":1,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1100,"y":180,"wires":[[]]},{"id":"ad66f5e1.563448","type":"base64","z":"436764ef.7c570c","name":"","action":"str","property":"payload","x":720,"y":180,"wires":[["edbe8f79.511c4","e5f61250.26cb4","22478f04.bd506"]]},{"id":"edbe8f79.511c4","type":"image","z":"436764ef.7c570c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":920,"y":40,"wires":[]},{"id":"e5f61250.26cb4","type":"base64","z":"436764ef.7c570c","name":"","action":"","property":"payload","x":200,"y":360,"wires":[["604a8eaf.6d4ac"]]},{"id":"604a8eaf.6d4ac","type":"change","z":"436764ef.7c570c","name":"Flow 3 : Setup mail content","rules":[{"t":"set","p":"cid","pt":"msg","to":"","tot":"date"},{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'image_' & $replace($now(),\":\",\"_\") & '.png', \t    \"content\": $$.payload,\t    \"cid\": \"\" & cid & \"\"\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"someone in your door ","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"'<img src=\"cid:' & cid & '\"/>'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":360,"wires":[["58495115.e70dc"]]},{"id":"58495115.e70dc","type":"debug","z":"436764ef.7c570c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"22478f04.bd506","type":"template","z":"436764ef.7c570c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"200px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":900,"y":200,"wires":[["fe8cca39.9bb248"]]},{"id":"ca2b3d57.5b397","type":"e-mail out","z":"436764ef.7c570c","server":"smtp.gmail.com","port":"465","secure":true,"name":"achraf.daabek@gmail.com","dname":"Achraf Daabek","x":760,"y":400,"wires":[[]]},{"id":"659254b3.2950ec","type":"ui_button","z":"436764ef.7c570c","name":"","group":"675036dd.603328","order":4,"width":0,"height":0,"passthru":false,"label":"take a shot","tooltip":"","color":"","bgcolor":"","icon":"photo_camera","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":200,"wires":[["412a780b.72faf8"]]},{"id":"675036dd.603328","type":"ui_group","name":"Frame Grab","tab":"7af2d9c8.0a9148","order":1,"disp":true,"width":"6"},{"id":"7af2d9c8.0a9148","type":"ui_tab","name":"Take a Shot","icon":"photo_camera","order":13,"disabled":false,"hidden":false}]