FlowNode-Red/WatchDogKNX.json
[{"id":"3b60c290.77e43e","type":"tab","label":"KNX WatchDog ","disabled":false,"info":""},{"id":"328882f5.827d9e","type":"ui_template","z":"3b60c290.77e43e","group":"e421726e.99e4b","name":"Address Ref","order":1,"width":"0","height":"0","format":"\n <form novalidate name=\"myForm\">\n        <md-input-container input-clear style=\"overflow:hidden;\">   \n            <div class=\"form-group\">\n                <label for=\"subnet\">Reference Address </label>\n                <input \n                type=\"text\" \n                name=\"subnet\"\n                ng-model=\"subnet\"\n                class=\"form-control\" \n                id=\"subnet\"\n                ng-change=\"msg.payload = subnet; send(msg)\"\n                required ng-pattern=\"/^([0-9]{1,3})[/]([0-9]{1,3})[/]([0-9]{1,3})$/gm\" >\n                <div class=\"custom-error\"  ng-show=\"myForm.subnet.$error.pattern\">\n                    Not a valid address</div>\n               \n            </div>\n            </md-input-container>\n</form>\n  <!-- Angular Material Dependencies -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js\"></script>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js\"></script>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js\"></script>\n\n    <script src=\"https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js\"></script>\n    <script src=\"script.js\"></script>\n<!--  <div>Correct format address: number/number/number</div> \n  -->\n    ","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":130,"y":200,"wires":[["bf5b0952.192bc","6b989e7c.680348"]]},{"id":"bf5b0952.192bc","type":"ui_toast","z":"3b60c290.77e43e","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"Confirme Address","cancel":"","raw":false,"topic":"Address accepted","name":"Address Accepted","x":370,"y":120,"wires":[]},{"id":"4d105363.95c8bc","type":"ui_template","z":"3b60c290.77e43e","group":"e421726e.99e4b","name":"Range Ref","order":2,"width":"0","height":"0","format":" \n <form novalidate name=\"myForm\">\n        <md-input-container  style=\"overflow:hidden;\">   \n            <div class=\"form-group\">\n                <label for=\"chekRange\">Reference Range </label>\n                <input \n                type=\"text\" \n                name=\"chekRange\"\n                ng-model=\"chekRange\"\n                class=\"form-control\" \n                id=\"chekRange\"\n                ng-change=\"msg.payload = chekRange; send(msg)\"\n                required ng-pattern=\"/^\\d{1,2}$/\" >\n                <div class=\"custom-error\"  ng-show=\"myForm.chekRange.$error.pattern\">\n                    Not a valid range</div>\n            </div>\n        </md-input-container>\n  </form>\n<!--  <div>Correct format address: number/number/number</div> \n  -->","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":130,"y":240,"wires":[["84436725.c5da9","d3a11632.f4812"]]},{"id":"9429867b.ec0fc","type":"ui_template","z":"3b60c290.77e43e","group":"e421726e.99e4b","name":"Address","order":3,"width":"0","height":"0","format":" \n <form novalidate name=\"myForm\">\n        <md-input-container  style=\"overflow:hidden;\">   \n            <div class=\"form-group\">\n                <label for=\"addr\">Address to watch</label>\n                <input \n                type=\"text\" \n                name=\"addr\"\n                ng-model=\"addr\"\n                class=\"form-control\" \n                id=\"addr\"\n                ng-change=\"msg.payload = addr; send(msg)\"\n                required ng-pattern=\"/^([0-9]{1,3})[/]([0-9]{1,3})[/]([0-9]{1,3})$/gm\" >\n                <div class=\"custom-error\"  ng-show=\"myForm.addr.$error.pattern\">\n                    Not a valid address</div>\n            </div>\n            </md-input-container>\n                  </form>\n<!--  <div>Correct format address: number/number/number</div> \n  -->","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":120,"y":280,"wires":[["aca6a756.85a73","f09be366.5fba48"]]},{"id":"84436725.c5da9","type":"ui_toast","z":"3b60c290.77e43e","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"Confirme Range","cancel":"","raw":false,"topic":"Range Accepted","name":"Range Accepted","x":360,"y":200,"wires":[]},{"id":"aca6a756.85a73","type":"ui_toast","z":"3b60c290.77e43e","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"Confirme Address","cancel":"","raw":false,"topic":"Address Accepted","name":"Address Accepted","x":370,"y":280,"wires":[]},{"id":"a18ea632.26b988","type":"function","z":"3b60c290.77e43e","name":"2/0/1","func":"let obj =  {\n    \"topic\" : \"2/0/1\",\n    \"value\":msg.payload\n}\nmsg.payload=obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":700,"wires":[["89b29a25.f55c18"]]},{"id":"2d74b131.882ea6","type":"inject","z":"3b60c290.77e43e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"str","x":150,"y":700,"wires":[["a18ea632.26b988"]]},{"id":"4cce32ac.75c524","type":"function","z":"3b60c290.77e43e","name":"2/0/2","func":"let obj =  {\n     \"topic\" : \"2/0/2\",\n    \"devicename\":\"salon\",\n    \"value\":msg.payload\n}\nmsg.payload=obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":740,"wires":[["40910415.77ba2c"]]},{"id":"babd59f6.65bea8","type":"function","z":"3b60c290.77e43e","name":"2/0/3","func":"let obj =  {\n   \"topic\" : \"2/0/3\",\n    \"devicename\":\"salon\",\n    \"value\":msg.payload\n}\nmsg.payload=obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":780,"wires":[["40910415.77ba2c"]]},{"id":"2ea4a7c2.94fbc8","type":"switch","z":"3b60c290.77e43e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":780,"wires":[["aba19835.aba34","b236d0c3.8cafc"]]},{"id":"aba19835.aba34","type":"debug","z":"3b60c290.77e43e","name":"Alert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":740,"wires":[]},{"id":"25370642.c341ca","type":"inject","z":"3b60c290.77e43e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"addr","payloadType":"flow","x":600,"y":60,"wires":[["c62c4c0f.b5f9c"]]},{"id":"c62c4c0f.b5f9c","type":"debug","z":"3b60c290.77e43e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":60,"wires":[]},{"id":"b02fe4ba.028c4","type":"debug","z":"3b60c290.77e43e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":140,"wires":[]},{"id":"729be0c.5764e2","type":"inject","z":"3b60c290.77e43e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Range","payloadType":"flow","x":600,"y":140,"wires":[["b02fe4ba.028c4"]]},{"id":"c963b6f3.10217","type":"function","z":"3b60c290.77e43e","name":"2/0/8","func":"let obj =  {\n    \"topic\" : \"2/0/8\",\n    \"devicename\":\"salon\",\n    \"value\": msg.payload\n}\nmsg.payload=obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":820,"wires":[["40910415.77ba2c"]]},{"id":"604e080a.8057","type":"inject","z":"3b60c290.77e43e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"addRef","payloadType":"flow","x":610,"y":100,"wires":[["6a871a7c.0fdb2c"]]},{"id":"6a871a7c.0fdb2c","type":"debug","z":"3b60c290.77e43e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"a81bdf0b.5f40b8","type":"inject","z":"3b60c290.77e43e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ValueSup","payloadType":"flow","x":610,"y":220,"wires":[["91c09c4d.b062b"]]},{"id":"91c09c4d.b062b","type":"debug","z":"3b60c290.77e43e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":220,"wires":[]},{"id":"8283d7b.1d99da8","type":"inject","z":"3b60c290.77e43e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"str","x":150,"y":740,"wires":[["4cce32ac.75c524"]]},{"id":"95b02dac.fd80d8","type":"inject","z":"3b60c290.77e43e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"str","x":150,"y":780,"wires":[["babd59f6.65bea8"]]},{"id":"621ec267.5b85c4","type":"inject","z":"3b60c290.77e43e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"25","payloadType":"str","x":150,"y":820,"wires":[["c963b6f3.10217"]]},{"id":"6479bdfb.ba2a1c","type":"inject","z":"3b60c290.77e43e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ValueInff","payloadType":"flow","x":610,"y":260,"wires":[["98a0b165.f488f"]]},{"id":"98a0b165.f488f","type":"debug","z":"3b60c290.77e43e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"ee4d312b.cc342","type":"ui_template","z":"3b60c290.77e43e","group":"63bacbf7.f08b2c","name":"Search Sortable Table","order":1,"width":"4","height":"7","format":"\n<div class=\"container\">\n          \n        <md-input-container  style=\"overflow:hidden;width:12vw\">   \n            <div class=\"form-group\">\n               \n               <span class=\"input-group\">\n               \n              <input type=\"text\" class=\"form-control\" placeholder=\"Search\" ng-model=\"search\" >\n              </span> \n    \n\n\n<table style=\"height: 78px; width: 250px;\">\n<thead class=\"mytable\">\n<tr style=\"width: 100%;\">\n  <td style=\"width: 83px; text-align: center;\">\n    <a class=\"myclass\" href=\"#\">Address </a>\n  </td>\n  <td style=\"width: 84.1833px; text-align: center;\">\n        <a class=\"myclass\" href=\"#\" ng-click=\"sortType = 'range'; sortReverse = !sortReverse\"> Range \n        <span ng-show=\"sortType == 'range' && !sortReverse\" class=\"fa fa-caret-down\">\n          \n        </span>\n        <span ng-show=\"sortType == 'range' && sortReverse\" class=\"fa fa-caret-up\">\n        </span>\n          </a></td>\n  <td style=\"width: 72.7px; text-align: center;\">\n     <a class=\"myclass\" href=\"#\" ng-click=\"sortType = '(addressRef -0)'; sortReverse = !sortReverse\">\n           Ref\n            <span ng-show=\"sortType == '(addressRef -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == '(addressRef -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n\n  </td>\n</tr>\n</thead>\n<tbody>\n   <tr ng-repeat=\"option in msg.options | orderBy:sortType:sortReverse | filter:search track by $index\" \n          style=\"width:100%\" flex>\n            \n                <td ng-if=\"option\" class=\"myclass\"><b ng-bind=\"option.address\"></b></td>\n               <td ng-if=\"option\" class=\"myclass\" ng-bind=\"option.range\" style=\"width: 83px;\">&nbsp;</td>\n               <td ng-if=\"option\" class=\"myclass\" ng-bind=\"option.addressRef\" style=\"width: 84.1833px;\">&nbsp;</td>\n               <td ng-if=\"option\" style=\"width: 47.1167px;\"> <em class=\"material-icons md-18\" ng-click=\"msg.payload = option;send(msg);\">\n                   delete</em></td>\n         \n\n\n</tr>\n</tbody>\n</table>\n</div>\n</md-input-container>\n</div>\n</body></html>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":460,"y":440,"wires":[["8dff9a33.04bf7"]]},{"id":"bece8dfc.55e45","type":"change","z":"3b60c290.77e43e","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"options","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":440,"wires":[["ee4d312b.cc342"]]},{"id":"8dff9a33.04bf7","type":"function","z":"3b60c290.77e43e","name":"","func":"let obj = flow.get(\"options\");\n\nfor (var item in obj) {\n \n  if (JSON.stringify(obj[item]) === JSON.stringify(msg.payload)) {\n    \n    delete obj[item]\n  }\n\n}\n\nconst newObject = Object.keys(obj).reduce((acc, key) => {\n  const _acc = acc;\n  if (obj[key] !== undefined) _acc[key] = obj[key];\n  return _acc;\n}, {})\nvar keys = [];\n\nfor (var element in newObject) {\n  if (newObject.hasOwnProperty(element)) {\n    keys.push(newObject[element]);\n  }\n}\nflow.set(\"options\",newObject)\n\nmsg.payload = keys;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":440,"wires":[["f5094faa.d6195"]]},{"id":"1e87b7b5.89b71","type":"ui_button","z":"3b60c290.77e43e","name":"","group":"e421726e.99e4b","order":4,"width":0,"height":0,"passthru":false,"label":"Confirme","tooltip":"","color":"","bgcolor":"","icon":"mi-add_alarm","payload":"Check your Config ","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":380,"wires":[["bd2c2b66.a26908"]]},{"id":"6b989e7c.680348","type":"change","z":"3b60c290.77e43e","name":"","rules":[{"t":"set","p":"addRef","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[[]]},{"id":"d3a11632.f4812","type":"change","z":"3b60c290.77e43e","name":"","rules":[{"t":"set","p":"Range","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[[]]},{"id":"f09be366.5fba48","type":"change","z":"3b60c290.77e43e","name":"","rules":[{"t":"set","p":"addr","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[[]]},{"id":"bd2c2b66.a26908","type":"ui_toast","z":"3b60c290.77e43e","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Confirme Address","cancel":"","raw":false,"topic":"please verify your configuration","name":"verify","x":370,"y":380,"wires":[["f22cd352.71c9"]]},{"id":"f22cd352.71c9","type":"function","z":"3b60c290.77e43e","name":"","func":"if (!context.outputAlarms) {\n   context.outputAlarms = [];\n}\n\nif (!flow.get(\"addRef\")){\n    node.warn(\"addRef null\");\n    msg.payload=\"address ref null\"\n}else if (!flow.get(\"Range\")){\n    node.warn(\"Range null\");\n    msg.payload=\"Range null\"\n}else if (!flow.get(\"addr\")){\n    node.warn(\"addr null\");\n    msg.payload=\"address null\"\n} else {\nlet objGlobal = {\n    \"addressRef\":flow.get(\"addRef\"),\n    \"range\":flow.get(\"Range\"),\n    \"address\":flow.get(\"addr\"),\n    \"valSupp\":null,\n    \"valInf\":null,\n    \"valref\":null\n}\ncontext.outputAlarms.push(objGlobal);\nmsg.payload = context.outputAlarms;\nflow.set(\"options\",context.outputAlarms)\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":380,"wires":[["479ea57d.ad2f44"]]},{"id":"1c370085.c3962f","type":"inject","z":"3b60c290.77e43e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"options","payloadType":"flow","x":610,"y":180,"wires":[["5d3ca02c.cedd3"]]},{"id":"5d3ca02c.cedd3","type":"debug","z":"3b60c290.77e43e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"f5094faa.d6195","type":"change","z":"3b60c290.77e43e","name":"","rules":[{"t":"set","p":"options","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":520,"wires":[["bece8dfc.55e45"]]},{"id":"479ea57d.ad2f44","type":"switch","z":"3b60c290.77e43e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Range null","vt":"str"},{"t":"eq","v":"address ref null","vt":"str"},{"t":"eq","v":"address null","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":750,"y":380,"wires":[["ca92af85.636a78"],["29bf31ad.cae7d6"],["e883227a.6b47b"],["bece8dfc.55e45"]]},{"id":"29bf31ad.cae7d6","type":"ui_toast","z":"3b60c290.77e43e","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Error","name":"Error ","x":990,"y":360,"wires":[]},{"id":"e883227a.6b47b","type":"ui_toast","z":"3b60c290.77e43e","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Error","name":"Error ","x":990,"y":400,"wires":[]},{"id":"ca92af85.636a78","type":"ui_toast","z":"3b60c290.77e43e","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Error","name":"Error ","x":990,"y":320,"wires":[]},{"id":"da330099.8543c","type":"inject","z":"3b60c290.77e43e","name":"Reset ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["ffe7e64f.9179b8"]]},{"id":"ffe7e64f.9179b8","type":"change","z":"3b60c290.77e43e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"options","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":160,"wires":[["6b989e7c.680348","d3a11632.f4812","f09be366.5fba48"]]},{"id":"89b29a25.f55c18","type":"function","z":"3b60c290.77e43e","name":"","func":"var inff;\nvar supp;\nvar addr= msg.payload.topic;\nvar value=msg.payload.value;\nlet obj = flow.get(\"options\");\n\nfor (var item in obj) {\n    \n  if (addr === obj[item].addressRef) {\n    \n    inff = parseInt(value, 10) - parseInt(obj[item].range, 10)\n    supp = parseInt(value, 10) + parseInt(obj[item].range, 10)\n    \n    obj[item].valSupp=supp.toString();\n     obj[item].valInf=inff.toString();\n     obj[item].valref=msg.payload.value;\n  }\n\n}\n\n\n\n\nmsg.payload = obj\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":660,"wires":[[]]},{"id":"51c735b3.0b364c","type":"inject","z":"3b60c290.77e43e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":110,"y":520,"wires":[["bece8dfc.55e45"]]},{"id":"40910415.77ba2c","type":"function","z":"3b60c290.77e43e","name":"","func":"let obj = flow.get(\"options\");\nlet address = msg.payload.topic;\nlet value = msg.payload.value;\nvar arraytoFile=\"\";\nmsg.topic =false;\nfor (var item in obj) {\n    \n  if (obj[item].address === address ) {\n     //node.warn(\"here inside address\")\n     \n  if (value > obj[item].valSupp || value < obj[item].valInf ){\n      //node.warn(\"here inside val true\")\n     \n      msg.topic =true;\n      var datetime = new Date();\n      arraytoFile= address+\" : (\"+value+\")\"+ \",\" + obj[item].addressRef +\" : (\"+obj[item].valref+\")\"+ \",\" +\n          datetime; \n      \n  }else{arraytoFile=\"\";msg.topic =false;}\n  }\n\n}\nmsg.payload = arraytoFile;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":780,"wires":[["2ea4a7c2.94fbc8"]]},{"id":"9e0270fe.7a498","type":"function","z":"3b60c290.77e43e","name":"2/0/4","func":"let obj =  {\n    \"topic\" : \"2/0/4\",\n    \"value\":msg.payload\n}\nmsg.payload=obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":660,"wires":[["89b29a25.f55c18"]]},{"id":"b236d0c3.8cafc","type":"file","z":"3b60c290.77e43e","name":"","filename":"AddressMonotoringLogFile.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":610,"y":820,"wires":[[]]},{"id":"2b1c3b7.25ae144","type":"comment","z":"3b60c290.77e43e","name":"get value from KNX and test it","info":"we have to initialize the min value and the max value and added to the object ","x":200,"y":620,"wires":[]},{"id":"e9af5e2f.00b6c","type":"comment","z":"3b60c290.77e43e","name":"add config to the table and refraich Option Object","info":"","x":240,"y":340,"wires":[]},{"id":"9ff4426c.3c50d8","type":"comment","z":"3b60c290.77e43e","name":"get input value ","info":"","x":120,"y":40,"wires":[]},{"id":"3fcc8ac6.5e3f7e","type":"inject","z":"3b60c290.77e43e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"str","x":150,"y":660,"wires":[["9e0270fe.7a498"]]},{"id":"4dc67a65.5d7324","type":"ui_ui_control","z":"3b60c290.77e43e","name":"","events":"all","x":300,"y":520,"wires":[["bece8dfc.55e45"]]},{"id":"78c8df3c.68f4d8","type":"ui_button","z":"3b60c290.77e43e","name":"","group":"7a510d2.8d5bff4","order":1,"width":0,"height":0,"passthru":false,"label":"Read Log File","tooltip":"","color":"","bgcolor":"","icon":"mi-error_outline","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":1020,"wires":[["6bbd2745.471fd"]]},{"id":"6bbd2745.471fd","type":"file in","z":"3b60c290.77e43e","name":"Read File","filename":"AddressMonotoringLogFile.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":1020,"wires":[["85f2b48.69803c8"]]},{"id":"85f2b48.69803c8","type":"csv","z":"3b60c290.77e43e","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":470,"y":1020,"wires":[["b6280cb0.cb6fe"]]},{"id":"b6280cb0.cb6fe","type":"ui_table","z":"3b60c290.77e43e","group":"7a510d2.8d5bff4","name":"","order":2,"width":"10","height":"6","columns":[{"field":"Address","title":"Address","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Ref","title":"Reference","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Date","title":"Date","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":610,"y":1020,"wires":[]},{"id":"e71f61ac.713e98","type":"comment","z":"3b60c290.77e43e","name":"Read the log file","info":"","x":140,"y":980,"wires":[]},{"id":"e421726e.99e4b","type":"ui_group","name":"SetUp","tab":"9c7808d0.f63a18","order":1,"disp":true,"width":"6","collapse":false},{"id":"63bacbf7.f08b2c","type":"ui_group","name":"Table","tab":"9c7808d0.f63a18","order":2,"disp":true,"width":"6","collapse":false},{"id":"7a510d2.8d5bff4","type":"ui_group","name":"Log","tab":"9c7808d0.f63a18","order":3,"disp":true,"width":"10","collapse":false},{"id":"9c7808d0.f63a18","type":"ui_tab","name":"KNX WatchDog","icon":"notifications_active","order":1,"disabled":false,"hidden":false}]